@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

/* Josh Comeau's CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 140%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Colors and Fonts */

:root {
  /* ### Primary */

  --CTA-text: hsl(356, 100%, 66%);
  --CTA-hover-background: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);

  /* ### Neutral */

  --text: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  --ff-overpass: "Overpass", sans-serif;
  --ff-ubuntu: "Ubuntu", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* General settings */

body {
  text-align: center;
  font-family: var(--ff-overpass);
}

h1,
h2,
h3 {
  font-family: var(--ff-ubuntu);
  font-weight: var(--fw-medium);
}

h1 {
  font-size: 2.125rem;
  font-weight: var(--fw-medium);
}

h2,
h3 {
  font-size: 1.6875rem;
  line-height: 2rem;
}

p {
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.button {
  font-size: 1rem;
  font-weight: var(--fw-semibold);
  text-decoration: none;
  padding: 0.75rem 0.6875rem;
  border: 1px solid white;
  border-radius: 2rem;
  margin-top: 2rem;
  width: 90%;
}

/* Header Configs */

/* At first had some problems adding the border on the header element itself. For it to show up, I had to set overflow:hidden, but then the when I expanded the main menu it would get cut. Moving the border from the header to the pseudo-element header::before solved the issue */

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--Very-light-red),
    var(--Light-red)
  );
  z-index: -1;
  border-radius: 0 0 0 7rem;
}

header {
  background: url(../images/bg-pattern-intro-mobile.svg) no-repeat center
    center/cover;
  position: relative;
  color: var(--text);
  min-height: 37.5rem;
  margin-bottom: 6rem;
}

.header__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1.5rem;
}

.blogr_logo_top {
  width: 5rem;
}

#menuIcon:hover {
  cursor: pointer;
}

.menu_top {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  width: 85%;
  margin: auto;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.397);
}

.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--headings);
  font-weight: bold;
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

.arrow {
  transform: rotate(0deg);
}

.menuHeader:hover {
  cursor: pointer;
}

.header__button {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
}

.sub_menu {
  display: none;
  background-color: #efeff1;
  list-style-type: none;
  padding-top: 1.25rem;
  padding-bottom: 0.5625rem;
  margin-bottom: 1rem;
}

.sub_menu li {
  color: var(--body-copy);
  font-weight: bold;
  margin-bottom: 0.6875rem;
}

.sub_menu li:hover {
  cursor: pointer;
}

.sub_menu a {
  text-decoration: none;
}

.nav__button {
  font-size: 1.1875rem;
  font-weight: var(--fw-bold);
  padding: 0.625rem 2.25rem;
  border-radius: 2rem;
}

.nav__button:hover {
  cursor: pointer;
}

.login {
  border: none;
  background-color: transparent;
  color: var(--headings);
}

.sign {
  border: none;
  background-image: linear-gradient(
    to right,
    var(--Very-light-red),
    var(--Light-red)
  );
  color: white;
  width: fit-content;
  margin: auto;
}

.header__button {
  display: grid;
  gap: 0.75rem;
}

.header__text {
  padding: 2rem 1.9375rem;
  display: grid;
  grid-template-areas:
    "one one"
    "two two"
    "three four";
  gap: 1rem;
  place-items: center;
}

h2.header__info {
  font-weight: var(--fw-regular);
  font-size: 1.125rem;
}

.start {
  color: var(--Light-red);
  background-color: white;
  place-self: center end;
}

.start:hover {
  background-color: var(--CTA-hover-background);
  border: unset;
  color: white;
}

.learn {
  color: white;
  place-self: center start;
}

.learn:hover {
  background-color: white;
  color: var(--CTA-text);
}

.header__info:nth-child(1) {
  grid-area: one;
}

.header__info:nth-child(2) {
  grid-area: two;
}

.header__info:nth-child(3) {
  grid-area: three;
}

.header__info:nth-child(4) {
  grid-area: four;
}

/* Main layout */

.grid_bloc {
  display: grid;
  gap: 1.5rem;
  place-items: center;
  margin-top: 2rem;
}

.grid_bloc__image {
  width: 100%;
  margin: auto;
}

.section__text {
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

section.light {
  color: var(--body-copy);
}

section.light > h2,
section.light > h3 {
  color: var(--headings);
}

section.dark {
  position: relative;
  background: var(--Very-dark-gray-blue) url("../images/bg-pattern-circles.svg")
    no-repeat center center/cover;
  color: white;
  /* margin-top: 11rem;
  padding-top: 13.5rem;
  padding-bottom: 6rem; */
  border-radius: 0 7rem;
}

section.dark h2 {
  font-size: 2.3125rem;
  line-height: 3.125rem;
  /* margin-top: 3rem; */
}

/* section.dark > img {
  position: absolute;
  transform: translateY(-290px);
  margin-top: 10%;
  max-width: 100%;
} */

/* Footer layout */

footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
  border-radius: 0 5rem 0 0;
  padding: 5rem 0;
  margin-top: 5rem;
}

footer img {
  margin: auto;
  margin-bottom: 5rem;
}

footer ul {
  list-style-type: none;
  font-size: 1.1875rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.menu_topLevel {
  font-weight: var(--fw-semibold);
}

ul li {
  line-height: 2rem;
  color: #c1c1c9;
}

ul > a:hover {
  text-decoration: underline;
}

.menu_topLevel {
  margin-bottom: 2rem;
  margin-top: 2.5rem;
  color: white;
}

.attribution {
  margin-top: 5rem;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */

/* Added an intermediate media query to better position the phone images in bigger screens */

@media screen and (min-width: 30em) {
  section.dark {
    padding-top: 20rem;
  }

  section.dark > img {
    position: absolute;
    transform: translateY(-30rem);
    padding-top: 30rem;
  }

  section.dark > h2 {
    padding-top: 5rem;
  }
}

/* Media Query for desktops */

@media screen and (min-width: 60em) {
  body {
    text-align: left;
  }

  header {
    background: url(../images/bg-pattern-intro-desktop.svg) no-repeat center
      center/cover;
  }

  section {
    padding: 0 6rem;
  }

  .blogr_logo_top {
    width: 6.5rem;
  }

  #menuIcon {
    display: none;
  }

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.375rem;
  }

  .header__text > h2 {
    font-size: 1.25rem;
  }

  .button {
    width: 9rem;
    text-align: center;
  }

  /* Desktop Menu */

  .page_top {
    display: flex;
  }

  .menu_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    background-color: unset;
    box-shadow: unset;
  }

  .menu_top > ul {
    columns: 3;
    column-gap: 5rem;
  }

  .menu_top li {
    color: white;
  }

  .menuHeader {
    padding: 0;
    font-size: 1rem;
  }

  .menuHeader:hover {
    text-decoration: underline;
  }

  .menuHeader:nth-child(5) {
    border: unset;
  }

  .sub_menu {
    position: absolute;
    transform: translateX(-20%);
    background-color: white;
    padding: 2rem;
    width: 10rem;
  }

  .sub_menu li {
    color: var(--Very-dark-gray-blue);
    text-align: left;
    font-weight: var(--fw-light);
  }

  .sub_menu li:hover {
    font-weight: var(--fw-bold);
    text-decoration: unset;
  }

  ul > a:hover {
    text-decoration: unset;
  }

  .login {
    color: white;
  }

  .sign {
    background-image: unset;
    background-color: white;
    color: var(--Light-red);
  }

  .sign:hover {
    background-color: var(--CTA-hover-background);
    color: white;
  }

  /* Main Configs */

  .section__text {
    display: grid;
    gap: 2rem;
  }

  .section_1_child:nth-child(1) {
    grid-area: one;
  }

  .section_1_child:nth-child(2) {
    grid-area: two;
  }

  .section_1_child:nth-child(3) {
    grid-area: three;
  }

  .section_1 {
    grid-template-areas:
      "one one"
      "three two";
    grid-template-columns: 1fr 1fr;
  }

  .section_1 p {
    margin-bottom: 3rem;
  }

  .section_1 img {
    transform: translateX(6rem);
  }

  .section_2 {
    display: flex;
  }

  section.dark {
    margin: unset;
    margin-top: 14rem;
    padding: unset;
  }

  .section_2 > div {
    padding: 8rem 6rem 8rem 48rem;
  }

  section.dark > img {
    top: -10%;
    left: 8%;
    transform: unset;
    padding: unset;
    max-width: 40%;
  }

  .section_3 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 9rem;
    margin-bottom: 9rem;
  }

  .section_3 > * {
    flex: 1;
  }

  .section_3 img {
    transform: translateX(-20rem);
  }

  /* Footer Configs */

  footer ul a:hover {
    text-decoration: underline;
  }

  footer > img {
    grid-area: one;
    place-self: start start;
    margin: 0;
  }

  footer > ul {
    grid-area: two;
    display: flex;
    justify-content: flex-start;
    gap: 13rem;
    font-size: 0.875rem;
  }

  footer li {
    font-size: 1rem;
  }

  footer > div {
    grid-area: three;
  }

  footer {
    display: grid;
    grid-template-areas:
      "one two"
      "three three";
    padding: 4rem 10rem;
    grid-template-columns: 1fr 3fr;
  }

  .menu_topLevel {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}
